@model TodoLiveAi.Web.Models.MainVM

<div class="aiResponseBox">

</div>

<div class="taskMenu">

    <div class="userTasksLeftMenu">

        <div class="addTodoBtn">
            <span class="material-symbols-outlined">
                note_add
            </span>
            <div>
                Add Task
            </div>
        </div>

        <div class="userTaskLeftMenuContent">

            <ul>
                <li><a asp-area="" asp-controller="Todos" asp-action="Index">Active Tasks</a></li>
                <li class="menuLeftShowPriority">Priority

                    <span class="priorityBtnsBox">
                        <span class="priorityColseBtnBox">
                            <span class="material-symbols-outlined priorityColseBtn">
                                close
                            </span>
                        </span>
                        <span class="menuLeftShowUrgent">Urgent</span>
                        <span class="menuLeftShowImportant">Important</span>
                        <span class="menuLeftShowMedium">Medium</span>
                        <span class="menuLeftShowLow">Low</span>
                    </span>
                </li>
                <li class="menuLeftShowOverdue">Overdue</li>
                <li class="menuLeftShowCompleted">Completed</li>
            </ul>

        </div>

        <div class="userTaskLeftAiContent">
            <div class="userTaskLeftChatBox">

            </div>
        </div>

    </div>


    @*USER TASKS*@
    <div class="userTasksMain">

        @*CONTENT*@

        <div class="userTasksContent">

            <div class="userTasksCard">
                @await Html.PartialAsync("_Task")
            </div>

        </div>

    </div>



</div>

<div class="userTaskModalBox"></div>

@section Scripts{

    <script>

        const setNewTaskUri = '@Url.Action("CreateTask", "Todos")';
        const deleteTaskUri = '@Url.Action("DeleteTask", "Todos")';
        const markCompleteTaskUri = '@Url.Action("MarkTaskAsComplete", "Todos")';
        const showSelectedTasksUri = '@Url.Action("ShowSelectedTasks", "Todos")';
        const getAiUri = '@Url.Action("GetAi", "Todos")';
        const showAddTaskModalUri = '@Url.Action("CreateTaskModal", "Todos")';
        const editTaskModalUri = '@Url.Action("EditTaskModal", "Todos")';
        const editTaskUri = '@Url.Action("EditTask", "Todos")';


    </script>

    <script type="text/javascript" src="/js/TodoScript.js"></script>

}